<h1>So, tell me how is the weather at: </h1>
<% if @weather.empty? %>
<p>Unknown City: here goes a fancy partial</p>
<% else %>
  <%= render "weather", weather: @weather %>
<% end %>

<h1>Actually, I want to know the weather in this other city</h1>
<%= form_for :city, url: search_path do |f| %>
  <%= f.text_field :name, placeholder: "City Name" %>
  <%= f.country_select :country_code, priority_countries: ["DE", "BR"] %>
  
  <%= f.submit "Search" %>
<% end %>